#root{
  
  background:rgb(165, 164, 164);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  height:200px;
  overflow:hidden;
}

.bookCaption{
  opacity: 0;
}

.bookCaption:hover{
  opacity: 1;
  background-color: #282c3486;
  z-index: 0;
}



/* .bookContainer{
  width:350px;
  height:450px;
}

.bookContainer img{
  object-fit: fill;
} */

